<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">GaldinoAllan</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>

  <footer class="page-footer font-small fixed-bottom">
    <div class="footer-copyright text-center py-3">
      Made with ❤️ by Allan Galdino © 2020 Copyright:
      <a href="https://galdinoallan.com/"> galdinoallan.com</a>
    </div>
  </footer>
</div>
